<p>Hi <%= name %>,</p>
<p>
  Welcome to Univex ! <br>
  You have been added to a new workspace named <%= workspace_name %> workspace. <br>
  Here are your login credentials:
</p>
<p>
  Email: <%= email %><br>
  Password: <%= password %>
</p>